<doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div>
      <h3><%= message %></h3>
      <% if (help) { %>
        <p><%= help %></p>
      <% } %>
      <% if (context) { %>
        <p><%= help %></p>
      <% } %>
    </div>
  </body>
</html>
